In [1]:
from requests import Request, Session
import requests, re, time
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json, csv, os
from pprint import pprint
from bs4 import BeautifulSoup
import pandas as pd

In [102]:
import requests
requests.get('https://192.168.81.35/api/?key=LUFRPT1FcDdDc0xhL2VUdU1aNFdzeXJRdHlmdGg1SEk9clJWL1ZEclg3VCtCdm1BK0paMnlFMVArNlhlZ1JpQ3NDZjBYRWtxNEs3cz0=&type=config&action=set&xpath=/config/shared/address/entry[@name=%27AWSHK-172.24.137.16-SAP-hdbb2%27]%20&element=%3Cip-netmask%3E172.24.137.16/32%3C/ip-netmask%3E')

In [99]:
def top_pair(link, top_number=5):
    target_pair = []
    print (link)
    table_page = requests.get(link)
    soup = BeautifulSoup(table_page.text, 'lxml')
    table = soup.find('tbody')
    all_pair = table.find_all('tr')[0:top_number]
    for pair in all_pair:
        target_pair.append(pair.find('a', {'target': '_blank'}).getText())

    return target_pair

def coinmarket_exchange(target, top_number=5, df=True):
    print ('top_number:', top_number)
    
    all_exchanges = dict()

    inner_link_start = 'https://coinmarketcap.com'
    exchanges_page = requests.get('https://coinmarketcap.com/rankings/exchanges/')
    soup = BeautifulSoup(exchanges_page.text, 'lxml')
    table = soup.find('tbody')

    all_coins = table.find_all('tr')
    vol_pattern = r'[\d]+'

    for coin in all_coins:
        name = str(coin.find('td', {'class': 'no-wrap currency-name'}).getText()).replace('\n','')
        if name.lower() not in target:
            continue
        inner_link = coin.find('td', {'class': 'no-wrap currency-name'})
        inner_link = inner_link.find(href=True)['href']
        inner_link = inner_link_start + inner_link

        vol = coin.find_all('td',{'class':'no-wrap text-right'})[0].getText()
        vol = ''.join(re.findall(vol_pattern, vol))

        all_exchanges[name] = dict()
        all_exchanges[name]['Adjusted Vol'] = int(vol)
        all_exchanges[name]['Top %d pair'%top_number] = top_pair(inner_link, top_number=top_number)
        time.sleep(30)
        
    if df == False:
        return all_exchanges
    
    return dict_to_pivot_table(all_exchanges, top_number=top_number)
    

def dict_to_pivot_table(dict_data, top_number=5):
    dt_dict = dict()
    dt_dict['exchange'] = []
    dt_dict['Adjusted Vol'] = []
    dt_dict['Top %d pair' %top_number] = []
    dt_dict['num'] = []
    for key in dict_data.keys():
        for pair in dict_data[key]['Top %d pair'%top_number]:
            dt_dict['exchange'].append(key)
            dt_dict['Adjusted Vol'].append(dict_data[key]['Adjusted Vol'])
            dt_dict['Top %d pair'%top_number].append(pair)
            dt_dict['num'].append(0) # for creating table
   
    df = pd.DataFrame(dt_dict)
    table = pd.pivot_table(dt, index=['exchange', 'Adjusted Vol','Top %d pair'%top_number], values=['num'])
    table = table.drop(columns=['num'])
    return table

In [81]:
top_pair('https://coinmarketcap.com/exchanges/bitstamp/', top_number=5)

https://coinmarketcap.com/exchanges/bitstamp/

['BTC/USD', 'BTC/EUR', 'XRP/USD', 'ETH/USD', 'LTC/USD']

In [100]:
exhange_data = coinmarket_exchange(['huobi','binance','okex','bitmax','kucoin','bitstamp'])

top_number: 5
https://coinmarketcap.com/exchanges/binance/
https://coinmarketcap.com/exchanges/okex/
https://coinmarketcap.com/exchanges/kucoin/
https://coinmarketcap.com/exchanges/bitmax/
https://coinmarketcap.com/exchanges/bitstamp/

In [101]:
exhange_data

Empty DataFrame
Columns: []
Index: [(Binance, 686881708, BNB/BTC), (Binance, 686881708, BNB/USDT), (Binance, 686881708, BTC/USDT), (Binance, 686881708, ETH/BTC), (Binance, 686881708, ETH/USDT), (BitMax, 109815982, BNB/USDT), (BitMax, 109815982, BTC/USDT), (BitMax, 109815982, BTMX/USDT), (BitMax, 109815982, PAX/USDT), (BitMax, 109815982, USDC/USDT), (Bitstamp, 64562816, BTC/EUR), (Bitstamp, 64562816, BTC/USD), (Bitstamp, 64562816, ETH/USD), (Bitstamp, 64562816, LTC/USD), (Bitstamp, 64562816, XRP/USD), (KuCoin, 461414133, BCHSV/ETH), (KuCoin, 461414133, BCHSV/USDT), (KuCoin, 461414133, BTC/USDT), (KuCoin, 461414133, ETH/USDT), (KuCoin, 461414133, XRP/USDT), (OKEx, 653027755, BTC/USDT), (OKEx, 653027755, ETC/BTC), (OKEx, 653027755, ETC/USDT), (OKEx, 653027755, ETH/USDT), (OKEx, 653027755, OKB/USDT)]

In [29]:
data_dict = dict()
data_dict['exchange'] = []
data_dict['Adjusted Vol'] = []
data_dict['Top 5 pair'] = []
data_dict['num'] = []

In [30]:
for key in exhange_data.keys():
    for pair in exhange_data[key]['Top 5 pair']:
        data_dict['exchange'].append(key)
        data_dict['Adjusted Vol'].append(exhange_data[key]['Adjusted Vol'])
        data_dict['Top 5 pair'].append(pair)
        data_dict['num'].append(0)

In [31]:
dt = pd.DataFrame(data_dict)
dt.head()

  exchange  Adjusted Vol Top 5 pair  num
0  Binance     686881708   BTC/USDT    0
1  Binance     686881708   BNB/USDT    0
2  Binance     686881708    BNB/BTC    0
3  Binance     686881708   ETH/USDT    0
4  Binance     686881708    ETH/BTC    0

In [34]:
table = pd.pivot_table(dt, index=['exchange', 'Adjusted Vol','Top 5 pair'], values=['num'])

In [40]:
table = table.drop(columns=['num'])

In [96]:
table.to_excel('tmp2.xlsx',header=False)

In [94]:
table

Empty DataFrame
Columns: []
Index: [(Binance, 686881708, BNB/BTC), (Binance, 686881708, BNB/USDT), (Binance, 686881708, BTC/USDT), (Binance, 686881708, ETH/BTC), (Binance, 686881708, ETH/USDT), (BitMax, 109815982, BNB/USDT), (BitMax, 109815982, BTC/USDT), (BitMax, 109815982, BTMX/USDT), (BitMax, 109815982, PAX/USDT), (BitMax, 109815982, USDC/USDT), (Bitstamp, 64562816, BTC/EUR), (Bitstamp, 64562816, BTC/USD), (Bitstamp, 64562816, ETH/USD), (Bitstamp, 64562816, LTC/USD), (Bitstamp, 64562816, XRP/USD), (KuCoin, 461414133, BCHSV/ETH), (KuCoin, 461414133, BCHSV/USDT), (KuCoin, 461414133, BTC/USDT), (KuCoin, 461414133, ETH/USDT), (KuCoin, 461414133, XRP/USDT), (OKEx, 653027755, BTC/USDT), (OKEx, 653027755, ETC/BTC), (OKEx, 653027755, ETC/USDT), (OKEx, 653027755, ETH/USDT), (OKEx, 653027755, OKB/USDT)]

In [27]:
df = pd.pivot_table(index=['weeks', 'device'], columns=['new_rank'],
                    values=['adtext'], aggfunc=lambda x: ' '.join(x))

TypeError: pivot_table() missing 1 required positional argument: 'data'